<carousel>
  <slide>
    <img src="assets/images/carapaca1.jpeg" alt="first slide" style="display:block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/carapaca2.jpeg" alt="first slide" style="display:block; width: 100%">
  </slide>
  <slide>
    <img src="assets/images/carapaca1.jpeg" alt="first slide" style="display:block; width: 100%">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>
      Bem-vindo a Carapaça
    </h1>
  </div>
</section>
